<h1>中学校</h1>
<p>各教科ごとに閲覧・ダウンロードできます！</p>
<div class="subjects">
  <a href="/jh/jp" class="subject jp">国語</a>
  <a href="/jh/math" class="subject math">数学</a>
  <a href="/jh/science" class="subject science">理科</a>
  <a href="/jh/social" class="subject social">社会</a>
  <a href="/jh/english" class="subject english">英語</a>
  <a href="/jh/pe" class="subject pe">保健体育</a>
  <a href="/jh/art" class="subject art">美術</a>
  <a href="/jh/technicalart" class="subject technicalart">技術</a>
  <a href="/jh/homeeco" class="subject homeeco">家庭</a>
  <a href="/jh/music" class="subject music">音楽</a>
  <a href="/jh/guidance" class="subject guidance">生徒指導</a>
</div>
