<h1>学年の各教科ごとに閲覧・ダウンロードできます。</h1>
<div class="grade">
  <a href="/ele/all" class="eleall">全学年共通</a>
  <a href="/ele/1st" class="ele1st">小１</a>
  <a href="/ele/2nd" class="ele2nd">小２</a>
  <a href="/ele/3rd" class="ele3rd">小３</a>
  <a href="/ele/4th" class="ele4th">小４</a>
  <a href="/ele/5th" class="ele5th">小５</a>
  <a href="/ele/6th" class="ele6th">小６</a>
</div>
