<div class="header">
  <div class="header-left">
    <a href="/home/top" class="home">teachersのTOPへ</a>
  </div>
  <div class="header-right">
    <a href="#" class="login">新規登録</a>
  </div>
  <div class="header-right">
    <a href="#" class="login">ログイン</a>
  </div>
</div>
<div class="about-main">
  <h2>teachersとは</h2>
  <p>効果的な授業案や授業プリントを共有するサイトです。</p>
  <p>教材または授業案を１つ共有すると、１ヵ月間他のユーザーの授業案や授業プリントを閲覧・ダウンロードすることができます。</p>
</div>
