<body>
  <div class="top-wrapper">
    <div class="container">
      <h1>教員の教員による教員のためのサイト</h1>
      <h1>効果的で楽しい指導案を！</h1>
      <p>teachersは教員のための教材や指導案を共有するサイトです。</p>
      <p>自分の作成した教材や指導案を共有し、新たな教材や指導案を手に入れましょう。</p>
      <div class="btn-wrapper">
        <a href="/signup" class="btn signup">新規登録はこちら</a>
        <p>or sign up with</p>
        <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
        <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
      </div>
    </div>
  </div>
  <div class="lesson-wrapper">
    <div class="container">
      <div class="heading">
        <h2>小学校・中学校・高等学校の各教科ごとに教材や授業案の共有ができます。</h2>
      </div>
      <div class="lessons">
        <div class="lesson">
          <div class="lesson-icon">
            <a class ="link" href="/ele/">
              <img src="https://prog-8.com/images/html/advanced/html.png">
              <p>小学校</p>
            </a>
          </div>
          <p class="txt-contents">国語、算数、理科、社会、外国語、保健体育、図工、家庭、音楽、児童指導</p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <a class ="link" href="/jh/">
              <img src="https://prog-8.com/images/html/advanced/jQuery.png">
              <p>中学校</p>
            </a>
          </div>
          <p class="txt-contents">国語、数学、理科、社会、英語、保健体育、美術、技術、家庭、音楽、生徒指導</p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <a class ="link" href="/high/">
              <img src="https://prog-8.com/images/html/advanced/ruby.png">
              <p>高等学校</p>
            </a>
          </div>
          <p class="txt-contents">国語、数学、理科、社会、英語、保健体育、美術、技術、家庭、音楽、生徒指導</p>
        </div>
      </div>
    </div>
  </div>
  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>さぁ、あなたもteachersで効果的な教材や指導案を手に入れませんか?</h2>
        <h3>Let's join us, create more efective education!</h3>
      </div>
      <a href="/signup" class="btn message">さっそく登録する</a>
    </div>
  </div>

</body>
